
*{
    margin:0;
    padding:0;
}

.about{
    background-color: rgb(255, 38, 0);
    color:bisque;
    display: inline-block;
    margin:20px;
}

#textarea{
    background-color: azure;
    height:200px;
}

#textarea:hover{
    background-color: brown;
    transition: background-color 0.3s ease-in-out;;
}

.body{
    margin:20px;
}